[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "*"
marshmallow = "*"
dataclasses-json = "*"
twisted = "*"
pyyaml = "*"

[requires]
python_version = "3.8.2"
